parameters:
    level: 6
    paths:
        - src
        - migrations
        - public
        - config
    excludePaths:
        - src/Framework/Views
        - src/Infrastructure/Storage/S3CompatibleStorage.php
    bootstrapFiles:
        - config/phpstan-bootstrap.php
    tmpDir: storage/cache/phpstan
    treatPhpDocTypesAsCertain: false
