<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Framework">
            <directory>tests/Framework</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>tests/Infrastructure</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test" force="true"/>
        <env name="APP_DEBUG" value="false" force="true"/>
        <env name="APP_TIMEZONE" value="UTC" force="true"/>
        <env name="DB_DRIVER" value="pdo_sqlite" force="true"/>
        <env name="DB_PATH" value=":memory:" force="true"/>
        <env name="CORS_ORIGIN" value="http://localhost:3000" force="true"/>
        <env name="STORAGE_PATH" value="storage/test" force="true"/>
        <env name="PUBLIC_STORAGE_PATH" value="storage/test/public" force="true"/>
        <env name="MAX_UPLOAD_MB" value="20" force="true"/>
        <env name="LOG_DESTINATION" value="storage/test/app.log" force="true"/>
        <env name="JWT_SECRET" value="libok-test-jwt-secret-32-bytes!!" force="true"/>
        <env name="JWT_ACCESS_TTL" value="900" force="true"/>
        <env name="JWT_REFRESH_TTL" value="1209600" force="true"/>
        <env name="MAIL_TRANSPORT" value="null" force="true"/>
        <env name="MAIL_SYNC" value="false" force="true"/>
        <env name="QUEUE_DRIVER" value="filesystem" force="true"/>
        <env name="QUEUE_PATH" value="storage/test/queue" force="true"/>
    </php>
</phpunit>
